.DS_Store
*.txz
/containers/immich/caddy
/containers/zfs-arcstat/modinfo
/patches/bzroot/root
/patches/bzroot/microcode
/patches/bzroot/bzroot
/patches/bzroot/bzroot.part
/patches/bzroot/bzroot.sha256
/patches/bzfirmware/usr
/patches/bzfirmware/bzfirmware
/patches/bzfirmware/bzfirmware.sha256